@page "/Login"
@using BlazorUI.Authentication
@inject IAuthService authService
@inject NavigationManager navMgr


<AuthorizeView>
    <NotAuthorized>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-xl-5 main box">
                    <RadzenTemplateForm Context="buttonCtx" Data=@("SimpleLogin")>
                        <RadzenCard>
                            <div>
                                <h2 class="mb-4">Please login</h2>
                                <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="@OnLogin"></RadzenLogin>
                                <p>@errorLabel</p>
                            </div>
                        </RadzenCard>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>

    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity!.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private string errorLabel = string.Empty;

    private async Task OnLogin(LoginArgs args)
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(args.Username, args.Password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorLabel = $"Error: {e.Message}";
        }
    }

}