@using Contracts.Services
@using BlazorUI.Authentication
@inject NavigationManager navMgr
@inject IAuthService authService

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/Reddit_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Reddit
    </a>
    <div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div>
        <AuthorizeView>
            <Authorized>
                <RadzenButton Click="@LogOutButtonClicked" Text="Log Out"></RadzenButton>
            </Authorized>
            <NotAuthorized>
                <RadzenButton Click="@LoginButtonClicked" Text="Log In"></RadzenButton>
                <RadzenButton Click="@SignUpButtonClicked" Text="Sign Up"></RadzenButton>
            </NotAuthorized>

        </AuthorizeView>

    </div>
</nav>

@code {

    private void LoginButtonClicked()
    {
        navMgr.NavigateTo("/Login");
    }

    private void SignUpButtonClicked()
    {
        navMgr.NavigateTo("/SignUp");
    }

    private async void LogOutButtonClicked()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

}