@using Contracts.Services
@using BlazorUI.Authentication
@inject NavigationManager navMgr
@inject IAuthService authService

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/img/Reddit_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Reddit
    </a>
    <div>
        <AuthorizeView>
            <Authorized>
                <RadzenButton Click="@CreatePostButtonClicked" Image="img/plus.png" Text="Create Post" ButtonStyle="ButtonStyle.Light"></RadzenButton>
                <RadzenButton Click="@LogOutButtonClicked" Text="Log Out"></RadzenButton>
            </Authorized>
            <NotAuthorized>
                <RadzenButton Click="@LoginButtonClicked" Text="Log In"></RadzenButton>
                <RadzenButton Click="@SignUpButtonClicked" Text="Sign Up"></RadzenButton>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {

    private void LoginButtonClicked()
    {
        navMgr.NavigateTo("/Login");
    }

    private void SignUpButtonClicked()
    {
        navMgr.NavigateTo("/SignUp");
    }

    private async void LogOutButtonClicked()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

    private void CreatePostButtonClicked()
    {
        navMgr.NavigateTo("/CreatePost");
    }

}